body {
  position: relative;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(75, 75, 75);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links > a, .nav > a {
  color: white;
  text-decoration: none;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 2rem
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 3%; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  gap: 20px;
  /* background-color: rgba(0, 0, 0, 0.15);   */
  /* background-color: rgba(255,255,255,0.06); */
  /* border: 1px solid rgba(255,255,255,0.1); */
  border-radius: 15px;
  padding: 32px;
  /* backdrop-filter: blur(10px); */
  width: auto;
  height: auto;
}

.shop-items {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.item {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.06);
}

.item-image {
  object-fit: cover;
  width: 350px;
  border-radius: 10px;
}

.item-title, .item-price {
  font-size: 1.6em;
  font-weight: bold;
}

.item-price {
  font-size: 1.2em;
  font-weight: normal;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  margin-top: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);  
  color: #000000;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
}

.main--text {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
}

.main--title {
 font-size: 4em;
 font-weight: bold;
}

.main--subtitle {
  font-weight: bold;
  font-size: 2em;
}

.main-image {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transform: scaleX(-1);
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.item-detail {
  position: relative;
  margin-top: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);  
  color: #ffffff;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 40rem;
  height: 40rem;
}

.item-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.item-button:hover {
  transition: 0.3s;
  background-color: rgba(255,255,255,0.2);
}

.cart {
  position: relative;
  margin-top: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);  
  color: #ffffff;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 50rem;
  height: 50rem;
}

.cart-item {
  position: relative;
  margin-top: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);  
  color: #ffffff;
  margin: 10px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 30px;
  width: 10rem;
}

.cart-image {
  object-fit: cover;
  width: 100px;
}